<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Firebase Sample Login</title>
<script src="https://www.gstatic.com/firebasejs/5.5.0/firebase.js"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAg9MV2e4L0Y2b0k5wBEnpuDmF-0pitkdE",
    authDomain: "pi-iot-7f7c3.firebaseapp.com",
    databaseURL: "https://pi-iot-7f7c3.firebaseio.com",
    projectId: "pi-iot-7f7c3",
    storageBucket: "pi-iot-7f7c3.appspot.com",
    messagingSenderId: "718949761260"
  };
  firebase.initializeApp(config);
</script>
<script src="https://www.gstatic.com/firebasejs/ui/3.4.1/firebase-ui-auth__ko.js"></script>
<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/3.4.1/firebase-ui-auth.css" />
</head>
<body>
	<script type="text/javascript">
		var result = null;
		
		var uiConfig = {
			callbacks : {
				signInSuccessWithAuthResult : function(authResult, redirectUrl) {
					firebase.auth().currentUser.getIdToken(/* forceRefresh */ true).then(function(idToken) {
						$("#token").val(idToken);
						$('#form').submit();
					}).catch(function(error) {
					  // Handle error
					});
					return false;
				},
				uiShown : function() {
					// The widget is rendered.
					// Hide the loader.
					document.getElementById('loader').style.display = 'none';
				}
			},
			// Will use popup for IDP Providers sign-in flow instead of the default, redirect.
			signInFlow : 'popup',
			signInSuccessUrl : '<url-to-redirect-to-on-success>',
			signInOptions : [
			// Leave the lines as is for the providers you want to offer your users.
				firebase.auth.GoogleAuthProvider.PROVIDER_ID,
				firebase.auth.EmailAuthProvider.PROVIDER_ID ],
			// Terms of service url.
			tosUrl : '<your-tos-url>',
			// Privacy policy url.
			privacyPolicyUrl : '<your-privacy-policy-url>'
		};
		var ui = new firebaseui.auth.AuthUI(firebase.auth());
		ui.start('#firebaseui-auth-container',uiConfig);
	</script>
	<div id="firebaseui-auth-container"></div>
	<div id="loader">Loading...</div>
	<form style="display: hidden" action="/login" method="POST" id="form">
	  <input type="hidden" id="token" name="token" value=""/>
	</form>
</body>
</html>